
# Server configuration
NODE_ENV=dev
PORT=8455
HOSTNAME=0.0.0.0
IS_CLOUDFLARE=true
FQDN=https://jdmo-hub-api.dnceprty.co

# Database configuration
MONGODB_URI=

# Hub token secret
TOKEN_SECRET=

# If true, private routes will be enabled.
PRIVATE_ROUTES=true

# Token for Harbour to connect to Hub.
S2S_TOKEN_HARBOUR=

# S2S App ID and secret for Backoffice.
S2S_APP_ID=1917492b-1320-4bb8-94f9-29c751a44779
S2S_APP_SECRET=

# Mail configuration
SPACEMAIL_USER=no-reply@ryuatelier.org
SPACEMAIL_PASS=
SPACEMAIL_USER_NAME=no-reply

# Auth rate limit bypass, these headers can be used to bypass the rate limit on /auth/v1 service. Used by Harbour.
AUTH_SLOWDOWN_BYPASS_HEADER=x-hub-bypass-slowdown
AUTH_SLOWDOWN_BYPASS_VALUE=please-let-me-in-uwu

# JMCS configuration
JMCS_FQDN=https://jdmo-prod.c0llydoll.com
JMCS_S2S_TOKEN=
JMCS_USER_AGENT=