PORT=3000
NODE_ENV=production
FQDN=http://localhost:3000
IS_CLOUDFLARE=true

MMDB_PATH=./src/data/GeoLite2-Country.mmdb

MONGODB_URI=
REDIS_URI=

DISCORD_WEBHOOK_URL=

S3_FQDN=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_BUCKET=
S3_REGION=auto
S3_ENDPOINT=
S3_SONGDB_PATH=/private/songdb
S3_LOCALIZATION_PATH=/private/localization
S3_RELATED_PATH=/private/related-songs

HUB_API_FQDN=http://hub-api:8455
HUB_S2S_TOKEN=

PRIVATE_ROUTERS=false

HARBOUR_TICKET_SECRET=

OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OIDC_AUTHORIZE_URL=
OIDC_TOKEN_URL=
OIDC_USERINFO_URL=
OIDC_LOGOUT_URL=
OIDC_REDIRECT_URI=http://localhost:3000/admin/v1/callback

S2S_TOKEN_HUB=
PACKAGE_MANAGER_TOKEN=
