.env
!.env.example

*.log

**/node_modules/
**/logs/

import-songs-result.json
import-skus-result.json
import-items-result.json
import-locs-result.json

src/og-jmcs
src/og-jmcs2
src/og-backoffice
src/og-src
src/tests/items.json

dist

src/scripts/songDb.json
src/scripts/tagsDb.json